 form{
     display:block;
     align-items: center;
     widows: 90px;
 }

 label {
    display: block;
    text-align: center;
    padding-top: 10;
    padding-bottom: 10;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .purchase-page {
  }

  .business-label {
    margin-left: 18px;
  }

  .business-input {
    margin-left: 61px;

  }

  .purchase-label {
    margin-left: 18px;
  }

  .purchase-input {
      margin-left: 20px;
  }

  .price-label {
      margin-left: 20px;
  }

  .price-input {
      margin-left: 87px;
  }

  .category-label {
      margin-right: -16px;
  }

  .category-input {
      margin-left: 58px;
  }

  .submit-input {
    margin-right: 30px;
    margin-bottom: 215px;
  }

  .submit-input:hover {
      background-color: rgb(11, 247, 66);
  }

