html, body, #root, .App {
  height: 100%;
  background-color:  white;
}
.App {
  text-align: center;
}

html, body, #root, .App {
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tab-row {
  background-color: rgb(130, 226, 144);
}

.tab {
  color: rgb(230, 230, 7);
  display: block;
}

.header {
  background-color: green;
  color:yellow;
}
